@keyframes animacaoBolha1 {
    0% {
        left: 5%;
        top: 50%;
    }
    25% {
        left: 15%;
        top: 10%;
    }
    50% {
        left: 25%;
        top: 70%;
    }
    75% {
        left: 25%;
        top: 60%;
    }
    100% {
        left: 5%;
        top: 50%;
    }
}

@keyframes animacaoBolha2 {
    0% {
        left: 40%;
        top: 3%;
    }
    25% {
        left: 25%;
        top: 20%;
    }
    50% {
        left: 15%;
        top: 30%;
    }
    75% {
        left: 50%;
        top: 10%;
    }
    100% {
        left: 40%;
        top: 3%;
    }
}

@keyframes animacaoBolha3 {
    0% {
        left: 50%;
        top: 60%;
    }
    25% {
        left: 65%;
        top: 40%;
    }
    50% {
        left: 70%;
        top: 30%;
    }
    75% {
        left: 60%;
        top: 45%;
    }
    100% {
        left: 50%;
        top: 60%;
    }
}

@keyframes animacaoBolha4 {
    0% {
        left: 80%;
        top: 20%;
    }
    25% {
        left: 70%;
        top: 10%;
    }
    50% {
        left: 60%;
        top: 15%;
    }
    75% {
        left: 70%;
        top: 25%;
    }
    100% {
        left: 80%;
        top: 20%;
    }
}

.bubble1
{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 600px;
    background: radial-gradient(68.9% 68.9% at 77.33% 26.25%, #935DD9 0%, #6B00F7 100%);
    /*filter: blur(4px); */
    z-index: 0;
    animation: animacaoBolha1 50s linear infinite;
}

.bubble2
{
    position: absolute;
    left: 40%;
    top: 3%;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 350px;
    background: radial-gradient(57.78% 57.78% at 80.71% 28.14%, #6D4BCE 0%, #935DD9 100%);
    /*filter: blur(12.5px);*/
    z-index: -1;
    animation: animacaoBolha2 60s linear infinite;
}

.bubble3
{
    position: absolute;
    left: 50%;
    top: 60%;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 300px;
    background: radial-gradient(52.7% 52.7% at 30.83% 76.67%, #703B88 0%, #703B88 100%);
    z-index: -3;
    animation: animacaoBolha3 30s linear infinite;
}

.bubble4
{
    position: absolute;
    left: 80%;
    top: 20%;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 500px;
    background: radial-gradient(54.4% 54.4% at 38.9% 63.5%, #B17FF1 0%, #7516A0 100%);
    z-index: -2;
    animation: animacaoBolha4 35s linear infinite;
}