*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Arial Black";
    background: #d5c2ff;
}