@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background: #ebebeb;
  font-family: Figtree, sans-serif;
  overflow: hidden;
}

.logo {
  color: white;
  width: 55px;
  aspect-ratio: 55 / 42;
  top: 1.5vh;
  left: 3.5vw;
  position: absolute;
}

.logo > path {
  fill: black;
}

div {
  overflow: hidden;
  position: absolute;
}

.ico-button {
  color: black;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 8px;
  border-color: transparent;
  background-color: transparent;
  fill: #000;
  cursor: pointer;
}
.ico-button:hover {
  color: rgba(0, 0, 0, 0.5);
}
.ico-button:active {
  transform: translateY(1px);
}

.zoom-range {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #935cff 0%,
    #935cff 50%,
    #d3ccff 50%,
    #d3ccff 100%
  );
  cursor: pointer;
  width: 20vw;
  height: 0.5vh;
  border-radius: 5px;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 3px solid #935cff;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.upper-bar {
  width: 100vw;
  height: 50px;
  top: 1vh;
  text-align: right;
}

.button-container {
  position: absolute;
  height: 48px;
  top: 1px;
  right: 66px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.button-history {
  width: 151px;
  height: 48px;
}

.button-export {
  width: 146px;
  height: 48px;
}

.button-login {
  width: 179px;
  height: 48px;
}

.button-signup {
  width: 174px;
  height: 48px;
}

.button-signup,
.button-login,
.button-download,
.button-export,
.button-history {
  margin-left: 29px;
  color: black;
}

.button-login {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 8px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.button-history {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 8px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.button-export {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: inline-flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 8px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.button-history:hover,
.button-export:hover,
.button-login:hover {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.button-signup {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline-flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.button-signup:hover {
  color: white;
  background-color: black;
}

.button-signup:hover > svg > path {
  fill: white;
}

.bottom-left-bar {
  width: 59vw;
  height: 13vh;
  bottom: 0;
  left: 1vh;
  text-align: left;
  display: flex;
  align-items: center;
  background: transparent;
  padding-left: 1vw;
}

.bottom-right-bar {
  display: flex;
  width: 36vw;
  height: 12vh;
  bottom: 1vh;
  right: 1vh;
  text-align: center;
  background: transparent;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}

.mind-map {
  width: 99vw;
  height: 78vh;
  bottom: 14vh;
  background: white;
  border-radius: 10px;
}

#info {
  z-index: 4;
  position: absolute;
  display: block;
  width: 15vw;
  left: 0;
  border: none;
  background-color: #ffffff;
}

.menu {
  z-index: 4;
  position: absolute;
  display: none;

  word-wrap: break-word;

  background: #e6e9ef;
  top: 8vh;
  right: 20px;
  border-radius: 10px;

  flex-direction: column;
  padding: 2vw;
  text-align: start;
  color: black;

  .button-menu {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: black;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    position: relative;
    border: none;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    &:focus,
    &:hover {
      color: black;
      background-color: #cebaf6;
      outline: 0;
    }
    &:active {
      color: #784bd1;
      background-color: white;
      letter-spacing: 2px;
    }
  }

  .ico-button {
    top: 10px;
    right: 10px;
    position: absolute;
    padding: 0;
    font-size: 20px;
  }
}

#downloadMenu {
  width: 15vw;
}

.open {
  display: flex;
}

.menu > h2 {
  margin-bottom: 2px;
  font-size: 19px;
}

#importText {
  padding: 5px 2px 5px;
}

.menu > p {
  margin: 0;
  font-size: 15px;
  padding: 5px 2px 5px;
  font-weight: 500;
}

.menu > input {
  display: none;
}

.bottom-left-bar > button {
  background: none;
  border: none;
  cursor: pointer;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  &:focus,
  &:active {
    transform: translateY(15px);
  }
}

#pencil {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 64px;
  height: 100%;
  background-position: top;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    transform: translateY(15px);
    color: rgba(0, 0, 0, 0.5);
  }
  &:checked {
    background-image: url("../images/lapisDorah.png");
  }
  &:not(:checked) {
    background-image: url("../images/lapisPB.png");
  }
}
#addNotes {
  width: 80px;
  height: 80px;
  background-image: url("../images/NotaPB.png");
  background-position: center;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    transform: translateY(15px);
    color: rgba(0, 0, 0, 0.5);
  }
  &:focus,
  &:active {
    background-image: url("../images/NotaAmarela.png");
  }
}

#washitape {
  width: 64px;
  height: 100%;
  background-image: url("../images/WashiPB.png");
  background-position: top;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    transform: translateY(15px);
    color: rgba(0, 0, 0, 0.5);
  }
  &:focus,
  &:active {
    background-image: url("../images/WashiTapePadrao.png");
  }
}

#highlighter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 64px;
  height: 100%;
  background-position: top;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(15px);
  }
  &:checked {
    background-image: url("../images/MarcaTextoAmarelo.png");
  }
  &:not(:checked) {
    background-image: url("../images/MarcaTextoPB.png");
  }
}

#addText {
  width: 80px;
  height: 80px;
  background-image: url("../images/TextoBP.png");
  background-position: top;
  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(15px);
  }
  &:focus,
  &:active {
    transform: translateY(15px);
    background-image: url("../images/TextoColorido.png");
  }
}

.flashcard-menu {
  border-color: #784bd1;
  color: #784bd1;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Figtree";
}

.flashcard-menu:hover {
  color: #ffffff;
  background-color: #784bd1;
}

#eraser {
  width: 64px;
  height: 100%;
  background-image: url("../images/BorrachaPB.png");
  background-position: top;

  background-size: cover;
  margin-right: 1.5vw;
  transition: transform 0.5s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(15px);
  }
  &:focus,
  &:active {
    transform: translateY(15px);
    background-image: url("../images/BorrachaColorida.png");
  }
}

.vertical-bar {
  width: 2px;
  height: 90px;
  background: #acacac;
}

#edit {
  width: 64px;
  height: 100%;
  background-image: url("../images/edit.png");
  background-position: top;
  border-right: 0.125rem solid #acacac;
  &:focus,
  &:active {
    background-image: url("../images/edit.png");
  }
}

.controlExtraArea {
  z-index: 2;
  position: absolute;
  right: 0px;
  display: none;
  background: #ebebeb;
  top: 10vh;
  border-radius: 10px 0px 0px 10px;
  .ico-button {
    font-size: 35px;
    padding: 0px;
  }
}

#extraArea {
  z-index: 3;
  width: 15vw;
  right: 0px;
  border: none;
  background-color: #ebebeb;
  .controlIA {
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .toggle-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 6px 0px;
  }
}

.buttonCloseExtraArea {
  display: flex;
  z-index: 4;
  right: 18vw;
}

#color-group {
  margin-right: 1.5vw;
  margin-left: 40px;
  width: 314px;
  height: 80%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-button1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  background: #c5445b;
  border: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #c5445b;
  }
}

#color-button2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #e16432;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  &:not(:checked) {
    background: #e16432;
  }
}

#color-button3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #f2cb2b;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #f2cb2b;
  }
}

#color-button4 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #71c87a;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #71c87a;
  }
}

#color-button5 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #709bf9;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #709bf9;
  }
}

#color-button6 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #34508f;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #34508f;
  }
}

#color-button7 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #784bd1;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #784bd1;
  }
}

#color-button8 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #dc1587;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #dc1587;
  }
}

#color-button9 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #896952;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #896952;
  }
}

#color-button10 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 29.5px;
  height: 90px;
  flex-shrink: 0;
  background: #000000;
  border-radius: 0px 8px 8px 0px;
  border: none;
  transition: transform 0.3s ease;
  &:checked {
    transform: scale(0.8);
    border-radius: 8px;
  }
  :not(:checked) {
    background: #000000;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

p
{
margin-left: 20px;
    background: linear-gradient(
        to right,
        #DB00FF 20%,
        #DB00FF 30%,
        #CD7FF1 70%,
        #7D00DF 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;

}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}