body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: gainsboro;
    font-family: system-ui;
}

.logo {
    width: 50px;
    height: 50px;
    top: 0vh;
    left: 0vh;
    position: absolute;
}

div {
    overflow: hidden;
    position: absolute;
}

.ico-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 35px;
    color: rgba(0, 0, 0, .6);
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ico-button:hover {
    color: rgba(0, 0, 0, .5);
}
.ico-button:active {
    transform: translateY(1px);
}

.zoom-range {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    width: 20vw;
    height: 1vh;
    border-radius: 5px;
}
.zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    height: 20px;
    width: 20px;
    border-radius: 20px;
}
  

.upper-bar {
    width: 100vw;
    top: 1vh;
    text-align: right;
}

.bottom-left-bar {
    width: 59vw;
    height: 12vh;
    bottom: 1vh;
    left: 1vh;
    text-align: left;
    background: gainsboro;   
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-left: 1vw;
}

.bottom-right-bar {
    width: 39vw;
    height: 12vh;
    bottom: 1vh;
    right: 1vh;
    text-align: center;
    background: gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.mind-map {
    width: 99vw;
    height: 78vh;
    bottom: 14vh;
    background: white;
    border-radius: 10px;
}