body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #EBEBEB;
    font-family: Figtree, sans-serif;
    overflow: hidden;
}

.logo {
    width: 50px;
    height: 50px;
    top: 0vh;
    left: 0vh;
    position: absolute;
}

div {
    overflow: hidden;
    position: absolute;
}

.ico-button {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: inline-flex;
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    fill: #000;
    cursor: pointer;
}
.ico-button:hover {
    color: rgba(0, 0, 0, .5);
}
.ico-button:active {
    transform: translateY(1px);
}

.zoom-range {
    -webkit-appearance: none;
    appearance: none;
    background: #0073EA;
    cursor: pointer;
    width: 20vw;
    height: 0.5vh;
    border-radius: 5px;
}

.zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid #0073EA;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}


.upper-bar {
    width: 100vw;
    top: 1vh;
    text-align: right;
}

.bottom-left-bar {
    width: 59vw;
    height: 13vh;
    bottom: 0;
    left: 1vh;
    text-align: left;
    background: transparent;
    border-radius: 0;
    border-right: 0.125rem solid #ACACAC;
    padding-left: 1vw;
}

.bottom-right-bar {
    width: 39vw;
    height: 12vh;
    bottom: 1vh;
    right: 1vh;
    text-align: center;
    background: transparent;
    border-radius: 10px;
}

.mind-map {
    width: 99vw;
    height: 78vh;
    bottom: 14vh;
    background: white;
    border-radius: 10px;
}


.menu{
    z-index: 2;  
    position: absolute;
    display: none;

    background: #E6E9EF;
    width: 15vw; 
    top: 8vh;
    right: 20px;
    border-radius: 10px;

    flex-direction: column;
    padding: 2vw;
    text-align: start;
    color: black;

    .button-menu{
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: .05em;
        color: black;
        cursor: pointer;
        margin-top: 5px;
        padding: 10px;
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        position: relative;
        border: none;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        &:focus,
        &:hover {
            color: black;
            background-color: #CEBAF6;
            outline: 0;
        }
        &:active {
            color: #784BD1;
            background-color: white;
            letter-spacing: 2px;
        }
    }

    .ico-button{
        top: 10px;
        right: 10px;
        position: absolute;
        padding: 0;
        font-size: 20px;
    }
}

.open{
    display: flex;
}

.menu>h2{
    margin-bottom: 2px;
    font-size: 19px;
}

#importText{
    padding: 5px 2px 5px;
}

.menu>p{
    margin: 0;
    font-size: 15px;
    padding: 5px 2px 5px; 
    font-weight: 500;
}

.menu>input{
    display: none;
}

.bottom-left-bar>button{
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: rgba(0, 0, 0, .5);
    }
    &:active {
        transform: translateY(1px);
    }
}

#pencil
{
    width: 64px;
    height: 100%;
    background-image: url("../images/lapisPB.png");
    background-position: top;
    background-size: cover;
    margin-right: 1.5vw;
    transition: transform 0.5s ease;
    &:hover
    {
        color: rgba(0, 0, 0, .5);
    }
    &:focus,
    &:active
    {
        transform: translateY(15px);
        background-image: url('../images/lapisDorah.png');
    }
}
#addNotes{
    width: 80px;
    height: 80px;
    background-image: url('../images/NotaPB.png');
    background-position: center;
    background-size: cover;
    margin-right: 1.5vw;
    margin-bottom: 30px;
    transition: transform 0.5s ease;
    &:hover {
        color: rgba(0, 0, 0, .5);
    }
    &:focus,
    &:active {
        transform: translateY(15px);
        background-image: url('../images/NotaAmarela.png');
    }
}

#washitape
{
    width: 64px;
    height: 100%;
    background-image: url('../images/WashiPB.png');
    background-position: top;
    background-size: cover;
    margin-right: 1.5vw;
    transition: transform 0.5s ease;
    &:hover
    {
        color: rgba(0, 0, 0, .5);
    }
    &:focus,
    &:active
    {
        transform: translateY(15px);
        background-image: url('../images/WashiTapePadrao.png');
    }
}

#highlighter
{
    width: 64px;
    height: 100%;
    background-image: url('../images/MarcaTextoPB.png');
    background-position: top;
    background-size: cover;
    margin-right: 1.5vw;
    transition: transform 0.5s ease;
    &:hover
    {
        color: rgba(0, 0, 0, .5);
    }
    &:focus,
    &:active
    {
        transform: translateY(15px);
        background-image: url('../images/MarcaTextoRosa.png');

    }
}
