body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: gainsboro;
    font-family: system-ui;
}

.tittle {
    top: 0vh;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    top: 0vh;
    left: 0vh;
    position: absolute;
}

div {
    overflow: hidden;
    position: absolute;
}

.upper-bar {
    width: 100vw;
    top: 4vh;
    text-align: right;
}

.bottom-left-bar {
    width: 59vw;
    height: 13vh;
    bottom: 1vh;
    left: 1vh;
    text-align: left;
    background: gainsboro;   
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-left: 1vw;
}

.bottom-right-bar {
    width: 39vw;
    height: 13vh;
    bottom: 1vh;
    right: 1vh;
    text-align: center;
    background: gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.mind-map {
    width: 99vw;
    height: 70vh;
    bottom: 15vh;
    background: white;   
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.ico-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ico-button:hover {
    color: gainsboro
}
.ico-button:active {
    transform: translateY(3px);
}