<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/gojs/release/go.js"></script>
    <script src="https://gojs.net/latest/extensions/FreehandDrawingTool.js"></script>

    <title>Dorah</title>
    <link
      rel="icon"
      href="../dorahMindMap/images/favicon.png"
      type="image/x-tcon"
    />
    <link rel="stylesheet" href="../dorahMindMap/css/mind-map-style.css" />
    <script>
      const theme = "{{theme}}";
    </script>
    <script src="../dorahMindMap/javascript/displaysControl.js"></script>
    <script src="../dorahMindMap/javascript/mindMap.js"></script>
    <script src="/dorahMindMap/javascript/mapdef.js"></script>
    <script src="/dorahMindMap/javascript/flashcards.js"></script>
    <script src="/dorahMindMap/javascript/onloaddef.js"></script>
    <script src="/dorahMindMap/javascript/references.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body onload="init_map('{{theme}}')">
    <div class="upper-bar">
      <section class="container-logo" onclick="getHome()">
        {% include "logo.html" %}
        <h1>Dorah</h1>
      </section>
      <div class="button-container">
        <button class="button-history" id="id-historybutton">
          {% include "/historyButton.html" %} Histórico
        </button>
        <!--button-history-->
        <button
          title="Export"
          class="button-export"
          id="id-exportButton"
          onclick="openDownloadMenu()"
        >
          {% include "/exportButton.html" %} Exportar
        </button>
        <!--button-export-->
        <button title="Sign In" class="button-login" onclick="getLoginButton()">
          {% include "/loginButton.html" %} Fazer Login</button
        ><!--button-login-->
        <button
          title="Sign Up"
          class="button-signup"
          id="id-signupButton"
          onclick="getSignUpButton()"
        >
          {% include "/signupButton.html" %} Criar Conta</button
        ><!--button-signup-->
      </div>
      <!--button-container-->
    </div>

    <div class="mind-map-container">
      <div id="info">
        <p id="generating-info">✦ Gerando tópicos...</p>
        <p id="summary-info">✦ Gerando resumo...</p>
        <p id="links-info">✦ Gerando links...</p>
      </div>
      <div id="mind-map" class="mind-map"></div>
    </div>
    
    <div class="bottom-left-bar">
      <input title="Pencil" type="checkbox" id="pencil" onclick="modePencilDrawing()" />
      <input
        title="Highlighter"
        type="checkbox"
        id="highlighter"
        onclick="modeHighlighterDrawing()"
      />
      <button title="Notes" id="addNotes" onclick="addCommentNote()"></button>
      <button title="Washitape" id="washitape"></button>
      <button title="Text" id="addText"></button>
      <button title="Eraser" id="eraser"></button>
      <class class="vertical-bar"></class>
      <class id="color-group">
        <input type="checkbox" id="color-button1" onclick="changeColor(0)" />
        <input type="checkbox" id="color-button2" onclick="changeColor(1)" />
        <input type="checkbox" id="color-button3" onclick="changeColor(2)" />
        <input type="checkbox" id="color-button4" onclick="changeColor(3)" />
        <input type="checkbox" id="color-button5" onclick="changeColor(4)" />
        <input type="checkbox" id="color-button6" onclick="changeColor(5)" />
        <input type="checkbox" id="color-button7" onclick="changeColor(6)" />
        <input type="checkbox" id="color-button8" onclick="changeColor(7)" />
        <input type="checkbox" id="color-button9" onclick="changeColor(8)" />
        <input type="checkbox" id="color-button10" onclick="changeColor(9)" />
      </class>
    </div>

    <div class="bottom-right-bar">
      <br />

      <input
        id="zoom"
        class="zoom-range"
        type="range"
        min="0.5"
        max="3"
        step="0.01"
      />

      <button title="Fit" id="fitDiagram" class="ico-button">
        <i class="bx bx-collapse-alt"></i>
      </button>

      {% include '/dorahMindMap/flashcard_button.html' %}
    </div>

    <div id="downloadMenu" class="menu">
      <button title="Close" id="close" class="ico-button" onclick="closeDownloadMenu()">
        <i class="bx bx-x"></i>
      </button>
      <h2>Mapa mental</h2>
      <button title="Json" id="button-mindmap-json" class="button-menu">JSON</button>
      <button title="Pdf" id="button-mindmap-pdf" class="button-menu">
        Imprimir (PDF)
      </button>
      <button title="Png" id="button-mindmap-png" class="button-menu">Imagem (PNG)</button>
      <h2>Flashcards</h2>
      <button title="Download" class="button-menu">Download</button>
      <h2 id="importText">Importar Mapa Mental</h2>
      <label for="importMindMap" class="button-menu">Mapa Mental</label>
      <input
        type="file"
        id="importMindMap"
        name="importMindMap"
        accept=".json"
        onchange="loadImportMindMap()"
      />
      <label for="importCards" class="button-menu">Flashcards</label>
      <input type="file" id="importCards" />
    </div>
    <div id="extraArea" class="menu">
      <h2 style="margin: 0px">Referências</h2>

      <span id="referenceArea"></span>

      <label for="page" style="padding: 15px 0px 6px"
        >Adicione seus links de referência aqui:</label
      >
      <input type="url" name="page" id="page" style="display: flex; padding: 10px 20px; border: none; border-radius: 4px; margin-bottom: 10px;" />
      <input
        type="submit"
        value="+ Adicionar"
        style="display: flex; border: 2px solid #784bd1; color:#784bd1; border-radius: 4px; cursor: pointer;font-family: 'Figtree', sans-serif; background-color: transparent;padding: 10px 20px;"
        onclick="addReference()"
      />
      <h2>Configurações</h2>
      <div class="controlIA">
        <button title="Suggest" class="toggle-button" onclick="sugestionButton()">
          <img
            id="id-toggleon"
            style="display: flex"
            src="../dorahHome/images/toggleon.svg"
            alt="toggleon"
          />
          <img
            id="id-toggleoff"
            style="display: none"
            src="../dorahHome/images/toggleoff.svg"
            alt="toggleoff"
          />
        </button>
        <h3>Recomendações da IA</h3>
      </div>
    </div>

    <div class="controlExtraArea" style="display: flex">
      <button title="Open" class="ico-button" onclick="openExtraArea()">
        <i class="bx bx-chevron-left"></i>
      </button>
    </div>
    <div id="controlExtraArea" class="controlExtraArea">
      <button title="Close" class="ico-button" onclick="closeExtraArea()">
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
  </body>
</html>
