*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
}

html, body{
    height: 100%;
}

body{
    height: 100vh;
    background-color: rgba(240, 240, 240, 5);
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 250px;
    height: 100%;
    position: relative;
}

.logo svg{
    width: 55px;
    aspect-ratio: 55 / 42;
    position: absolute;
    top: 14px;
    left: 3.5vw;
}

.logo > path {
    fill: black;
}

.logo h1{
    position: absolute;
    top: 16px;
    left: calc(3.5vw + 75px);
    font-weight: 500;
}

.center{
    width: 100%;
    margin: 0 10vw;
}

.sec-header{
    width: ;
    display: flex;
    justify-items: center;
    align-items: center;
}

h2{
    font-weight: 600;
    padding: 30px 0;
}

.button-perfil{
    width: 160px;
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: inline-flex;
    padding: 11px 16px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    fill: #000;
    cursor: pointer;
}

.flash1,
.mapa{
    width: 100%;
    min-width: 208px;
    aspect-ratio: 42 / 23;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgb(217, 217, 217);
    opacity: 1;
}

.node{
    width: 17.6vw;
    flex-shrink: 0;
}

h3{
    text-align: center;
    margin: 10px 0;
}

.historico{
    width: 88vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;
    overflow-y: hidden;
    justify-content: left;
    align-items: center;
}

