<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Visualização e edição do Mapa - Dorah</title>

    <!-- linking to GoJS assets -->
    <script src="https://unpkg.com/gojs/release/go.js"></script>

    <!-- linking to the external scripts -->
    <script src="{{url_for('static', filename='mind_map.js')}}"></script>
</head>

<body onload="draw_map({{temas}}, [1, 2, 3, 4, 5])">
    <h1>Links úteis: {{links}}</h1>

    <div id="mapa_mental" style="width: 1330PX; height: 600PX; display: flex;"></div>
</body>

</html>